<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.mall.mapper.CskaoyanMallSystemMapper">
  <resultMap id="BaseResultMap" type="com.baidu.mall.bean.CskaoyanMallSystem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="key_name" jdbcType="VARCHAR" property="keyName" />
    <result column="key_value" jdbcType="VARCHAR" property="keyValue" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, key_name, key_value, add_time, update_time, deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cskaoyan_mall_system
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByName" resultType="java.lang.String">
    select key_value from cskaoyan_mall_system where id=#{nameId}
  </select>
  <select id="selectByAddress" resultType="java.lang.String">
    select key_value from cskaoyan_mall_system where id=#{addressId}
  </select>
  <select id="selectByPhone" resultType="java.lang.String">
    select key_value from cskaoyan_mall_system where id=#{phoneId}
  </select>
  <select id="selectByQQ" resultType="java.lang.String">
    select key_value from cskaoyan_mall_system where id=#{qqId}
  </select>

  <update id="updateName">
    update cskaoyan_mall_system set key_value=#{configMallVo.cskaoyan_mall_mall_name} where id=#{nameId}
  </update>
  <update id="updateAddress">
    update cskaoyan_mall_system set key_value=#{configMallVo.cskaoyan_mall_mall_address} where id=#{addressId}
  </update>
  <update id="updatePhone">
    update cskaoyan_mall_system set key_value=#{configMallVo.cskaoyan_mall_mall_phone} where id=#{phoneId}
  </update>
  <update id="updateQQ">
    update cskaoyan_mall_system set key_value=#{configMallVo.cskaoyan_mall_mall_qq} where id=#{qqId}
  </update>

  <select id="selectExpressMinById" resultType="java.lang.String">
    select key_value from cskaoyan_mall_system where id=#{minId}
  </select>
  <select id="selectExpressValueById" resultType="java.lang.String">
    select key_value from cskaoyan_mall_system where id=#{valueId}
  </select>

  <update id="updateExpressMin">
    update cskaoyan_mall_system set key_value=#{configExpressVo.cskaoyan_mall_express_freight_min} where id=#{minId}
  </update>
  <update id="updateExpressValue">
    update cskaoyan_mall_system set key_value=#{configExpressVo.cskaoyan_mall_express_freight_value} where id=#{valueId}
  </update>

  <select id="selectOrderUnpaidById" resultType="java.lang.String">
    select key_value from cskaoyan_mall_system where id=#{unpaidId}
  </select>
  <select id="selectOrderUnconfirmById" resultType="java.lang.String">
    select key_value from cskaoyan_mall_system where id=#{unconfirmId}
  </select>
  <select id="selectOrderCommentById" resultType="java.lang.String">
    select key_value from cskaoyan_mall_system where id=#{commentId}
  </select>

  <update id="updateOrderUnpaid">
    update cskaoyan_mall_system set key_value=#{configOrderVo.cskaoyan_mall_order_unpaid} where id=#{unpaidId}
  </update>
  <update id="updateOrderUnconfirm">
    update cskaoyan_mall_system set key_value=#{configOrderVo.cskaoyan_mall_order_unconfirm} where id=#{unconfirmId}
  </update>
  <update id="updateOrderComment">
    update cskaoyan_mall_system set key_value=#{configOrderVo.cskaoyan_mall_order_comment} where id=#{commentId}
  </update>

  <select id="selectWxIndexNewById" resultType="java.lang.String">
    select key_value from cskaoyan_mall_system where id=#{indexNewId}
  </select>
  <select id="selectWxIndexHotById" resultType="java.lang.String">
    select key_value from cskaoyan_mall_system where id=#{indexHotId}
  </select>
  <select id="selectWxIndexBrandById" resultType="java.lang.String">
    select key_value from cskaoyan_mall_system where id=#{indexBrandId}
  </select>
  <select id="selectWxIndexTopicById" resultType="java.lang.String">
    select key_value from cskaoyan_mall_system where id=#{indexTopicId}
  </select>
  <select id="selectWxCatlogListById" resultType="java.lang.String">
    select key_value from cskaoyan_mall_system where id=#{catlogListId}
  </select>
  <select id="selectWxCatlogGoodsById" resultType="java.lang.String">
    select key_value from cskaoyan_mall_system where id=#{catlogGoodsId}
  </select>
  <select id="selectWxShareById" resultType="java.lang.String">
    select key_value from cskaoyan_mall_system where id=#{shareId}
  </select>

  <update id="updateWxIndexNew">
    update cskaoyan_mall_system set key_value=#{configWxVo.cskaoyan_mall_wx_index_new} where id=#{indexNewId}
  </update>
  <update id="updateWxIndexHot">
    update cskaoyan_mall_system set key_value=#{configWxVo.cskaoyan_mall_wx_index_hot} where id=#{indexHotId}
  </update>
  <update id="updateWxIndexBrand">
    update cskaoyan_mall_system set key_value=#{configWxVo.cskaoyan_mall_wx_index_brand} where id=#{indexBrandId}
  </update>
  <update id="updateWxIndexTopic">
    update cskaoyan_mall_system set key_value=#{configWxVo.cskaoyan_mall_wx_index_topic} where id=#{indexTopicId}
  </update>
  <update id="updateWxCatlogList">
    update cskaoyan_mall_system set key_value=#{configWxVo.cskaoyan_mall_wx_catlog_list} where id=#{catlogListId}
  </update>
  <update id="updateWxCatlogGoods">
    update cskaoyan_mall_system set key_value=#{configWxVo.cskaoyan_mall_wx_catlog_goods} where id=#{catlogGoodsId}
  </update>
  <update id="updateWxShare">
    update cskaoyan_mall_system set key_value=#{configWxVo.cskaoyan_mall_wx_share} where id=#{shareId}
  </update>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cskaoyan_mall_system
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.baidu.mall.bean.CskaoyanMallSystem">
    update cskaoyan_mall_system
    <set>
      <if test="keyName != null">
        key_name = #{keyName,jdbcType=VARCHAR},
      </if>
      <if test="keyValue != null">
        key_value = #{keyValue,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baidu.mall.bean.CskaoyanMallSystem">
    update cskaoyan_mall_system
    set key_name = #{keyName,jdbcType=VARCHAR},
      key_value = #{keyValue,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
