<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.mall.mapper.CskaoyanMallCommentMapper">
  <resultMap id="BaseResultMap" type="com.baidu.mall.bean.CskaoyanMallComment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="value_id" jdbcType="INTEGER" property="valueId" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="has_picture" jdbcType="BIT" property="hasPicture" />
    <result column="pic_urls" jdbcType="VARCHAR" property="picUrls" />
    <result column="star" jdbcType="SMALLINT" property="star" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, value_id, type, content, user_id, has_picture, pic_urls, star, add_time, update_time,
    deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cskaoyan_mall_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cskaoyan_mall_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.baidu.mall.bean.CskaoyanMallComment">
    update cskaoyan_mall_comment
    <set>
      <if test="valueId != null">
        value_id = #{valueId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="hasPicture != null">
        has_picture = #{hasPicture,jdbcType=BIT},
      </if>
      <if test="picUrls != null">
        pic_urls = #{picUrls,jdbcType=VARCHAR},
      </if>
      <if test="star != null">
        star = #{star,jdbcType=SMALLINT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baidu.mall.bean.CskaoyanMallComment">
    update cskaoyan_mall_comment
    set value_id = #{valueId,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      content = #{content,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      has_picture = #{hasPicture,jdbcType=BIT},
      pic_urls = #{picUrls,jdbcType=VARCHAR},
      star = #{star,jdbcType=SMALLINT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByValueId" resultMap="BaseResultMap">
      select <include refid="Base_Column_List"/> from cskaoyan_mall_comment where value_id = #{id}
    </select>

  <select id="selectGoodsComment" resultType="com.baidu.mall.bean.goodsbean.GoodsComment">
    select <include refid="Base_Column_List" /> from cskaoyan_mall_comment where `deleted` = 0
      <if test="userId!=null">
        <bind name="userId" value="'%' + userId + '%'"/>
        and user_id like #{userId}
      </if>
      <if test="valueId!=null">
        <bind name="valueId" value="'%' + valueId + '%'"/>
        and value_id like #{valueId}
      </if>
  </select>
  <select id="selectTypeByPrimaryKey" parameterType="Integer" resultType="java.lang.Boolean">
    SELECT `type` FROM cskaoyan_mall_comment WHERE id = #{commentId}
  </select>
  <update id="updateTypeByPrimaryKey">
    UPDATE cskaoyan_mall_comment SET TYPE = 0 WHERE id = #{commentId}
  </update>
  <update id="deleteByPrimaryKey">
    update cskaoyan_mall_comment set `deleted` = 1
  </update>

  <select id="selectTopicComments" resultType="com.baidu.mall.bean.wx.BaseWxTopicComment">
    SELECT c.content,c.pic_urls,c.add_time,u.nickname,u.avatar FROM cskaoyan_mall_comment c LEFT JOIN cskaoyan_mall_user u
    ON c.user_id = u.id WHERE c.deleted = 0 AND c.value_id = #{valueId} AND c.type = #{type} ORDER BY c.id DESC
  </select>
  <insert id="insert">
    insert into cskaoyan_mall_comment (id, value_id, type,
    content, user_id, has_picture,
    pic_urls, star, add_time,
    update_time, deleted)
    values (#{id,jdbcType=INTEGER}, #{valueId,jdbcType=INTEGER}, #{type,jdbcType=TINYINT},
    #{content,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{hasPicture,jdbcType=BIT},
    #{picUrls,jdbcType=VARCHAR}, #{star,jdbcType=SMALLINT}, #{addTime,jdbcType=TIMESTAMP},
    #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT})
  </insert>
  <select id="selectCountById" resultType="int">
    select count(id) from cskaoyan_mall_comment where value_id = #{valueId}
  </select>
  <select id="selectPicCountById" resultType="int">
    select count(id) from cskaoyan_mall_comment
    where value_id = #{valueId} and has_picture = 1
  </select>
</mapper>
